<%- include layouts/header.ejs %>
    <div class="container">
      <h1><%= title %></h1>

    
  
          
        <div class="row">
         
        <% for(var video=0;video<Videos.length;video++){ %>   
           <div class="col-sm-4">
             <div class="card">
              <img height="300" src="<%=Videos[video].Imagen%>" class="card-img-top" alt="">
                 <div class="card-body">
                   <h5 class="card-title"><%=Videos[video].Titulo %> </h5>
                   <p class="card-text"><%=Videos[video].comentario %></p>
                   <a href="<%=Videos[video].referencia%>" class="btn btn-primary">Ver video</a>
                 </div>
               </div>
             </div>
          
            </div>
  
        <% } %>



           

      
       
    </div>

<%- include layouts/footer.ejs %>